<li><a class="waves-effect" href="#standing">Standing</a></li>
<li><a class="waves-effect" href="#match">Match</a></li>
<li><a class="waves-effect" href="#team">Team</a></li>
<li><a class="waves-effect" href="https://play.google.com/store/apps/details?id=com.aryanto.widi.footballapps">Mobile App</a>
<li><a class="waves-effect" href="#policy">Privacy Policy</a></li>
<li><a class="waves-effect" href="#terms">TAC</a></li>